@import 'colors/colors.css';

window {
    font-family: "Adwaita Sans", "GeistMono Nerd Font Propo";
    font-size: 1.2em;
    color:  @foreground; /* text */
    background-color: alpha(@surface, 0.85);
} 

button {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    background-color: transparent;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(0.15,0,0.1,1);
    box-shadow: 0 0 10px 2px transparent;
    border-radius: 36px;
    margin: 10px;
}

button:focus {
    box-shadow: none;
    outline-style: none;
    background-size: 20%;
}

button:hover {
    background-size: 50%;
    outline-style: none;
    box-shadow: 0 0 10px 3px rgba(0,0,0,.4);
    background-color: @primary;
    color: transparent;
}

#lock {
    background-image: image(url("icons/lock.png"));
}

#lock:hover {
    background-image: image(url("icons/lock-hover.png"));
}

#hibernate {
    background-image: image(url("icons/hibernate.png"));
}

#hibernate:hover {
    background-image: image(url("icons/hibernate-hover.png"));
}

#logout {
    background-image: image(url("icons/logout.png"));
}

#logout:hover {
    background-image: image(url("icons/logout-hover.png"));
}

#suspend {
    background-image: image(url("icons/hibernate.png"));
}

#suspend:hover {
    background-image: image(url("icons/hibernate-hover.png"));
}

#shutdown {
    background-image: image(url("icons/power.png"));
}

#shutdown:hover {
    background-image: image(url("icons/power-hover.png"));
}

#reboot {
    background-image: image(url("icons/restart.png"));
}

#reboot:hover {
    background-image: image(url("icons/restart-hover.png"));
}