/***
 *    ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                 
 */


@import 'colors/colors.css';
@import 'themes/matugen-nc/notifications.css';
@import 'themes/matugen-nc/control-center.css';